.scheduleGroup-content {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scheduleGroup-content > table {
    width: calc(100vw - 200px);
    text-align: center;
    height: 20vh;
}

.header-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DateRangePicker {
    margin-right: 50vw;
}

.lk {
    background-color: rgb(255, 253, 149);
}

.pz {
    background-color: rgb(150, 250, 167);
}

.lb {
    background-color: rgb(177, 85, 238);
}

.cons {
    background-color: rgba(128, 128, 128, 0.719);
}

.zal {
    background-color: rgb(238, 173, 173);
}

.isp {
    background-color: rgb(250, 81, 81);
}